{% extends "Blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Nowy Post</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Opublikuj</button>
            </div>
        </form>
    </div>

{% endblock content %}
